html {
  scroll-behavior: smooth;
}

body {
  font-family: "B612", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
}

nav li {
  /* margin: 0 5%; */
  /* padding: 0 5% !important; */
  width: 20% !important;
  float: none !important;
  display: inline-block;
}

nav li a {
  /* color: black; */
  /* font-weight: bold; */
  font-size: 1.1em;
  padding: 0 5%;
}

/* .row {
  margin-top: 0;
} */

section.profile {
  height: 90vh;
}

.profile div {
  height: 100%;
  /* align-items: center; */
}

.profile .desc {
  width: 55%;
  text-align: right;
  padding-top: 27vh;
}

.profile .photo {
  width: 45%;
  padding-right: 0;
}

.desc h4 {
  color: #ac8daf;
  font-weight: bold;
}

.desc h5 {
  color: #161616;
  font-weight: bold;
}

.photo img {
  width: 100%;
  height: 90%;
}

.about {
  width: 43%;
  position: relative;
  padding-top: 15vh;
  margin: 0 auto;
}

.about h4 {
  font-weight: bold;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 4;
  left: 0;
}

.about .isi {
  background-color: #ac8daf;
  border-radius: 20px;
  padding: 5vh;
  margin: 3vh;
}
.about .isi p {
  font-family: "Roboto Mono", monospace;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: justify;
}

.garis {
  /* margin: auto !important; */
  width: 10%;
  height: 0;
  border: 2px solid #333333;
  margin: 0 auto;
}

.edex {
  margin: 17vh auto 0;
  padding-top: 10vh;
  /* padding-bottom: 100vh; */
  background-color: #ac8daf;
}

.edex div {
  text-align: center;
}

.edex div h4 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 7vh;
}

.logo-desc {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 7vh;
}

.logo-desc img {
  max-width: 15%;
  position: absolute;
  text-align: center;
  left: 20.3vw;
  top: 0.2vh;
}

.logo-desc .desc {
  background-color: rgba(255, 255, 255, 0.8);
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5vh 2vw 1vh;
}

.skill {
  /* margin: 10vh auto 0; */
  padding-top: 10vh;
  width: 80%;
  text-align: center;
}

.skill .skill-logo {
  /* padding: 0; */
  padding-top: 10vh;
  text-align: center;
}

.skill .skill-logo img {
  max-width: 20vh;
}

.skill h4 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill .skill-row {
  /* padding-top: 10vh; */
  padding-bottom: 2vh;
}

.skill-row.even-skill {
  width: 80%;
}

.project {
  width: 80%;
  /* margin: 0 auto 10vh; */
  padding-top: 10vh;
  padding-bottom: 8vh;
  text-align: center;
}

.project h4 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project .card-piece {
  padding-top: 7vh;
}

.project .card {
  border: 2px solid #ac8daf;
  border-radius: 8px;
  box-shadow: 15px 15px 15px rgba(172, 141, 175, 0.75);
}

.project .card-image img {
  border-radius: 5px;
  overflow: hidden;
}

.project .card-piece .card-title {
  color: #ac8daf;
  font-weight: bold;
  font-size: 2vw;
  text-shadow: 2px 2px 0px #3d3d3d;
}

.project .card-piece .card-content p {
  margin: 0;
  font-size: 1.5vw;
}

.contact {
  background-color: #161616;
  margin: 18vh auto 0;
  padding: 5vh 0;
  text-align: center;
}

.contact h4 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  /* text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.8); */
}

.contact .contact-box {
  width: 40%;
}

.contact .contact-box .contact-icon {
  margin-top: 5vh;
}

.contact .contact-box .contact-icon img {
  max-width: 37%;
}

.contact a {
  text-decoration: none;
}

.forms {
  width: 80%;
  text-align: center;
}

.forms h4 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forms .button-cont {
  text-align: center;
}
