{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'portofolio/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link
      href="https://fonts.googleapis.com/css?family=B612|Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'portofolio/css/style.css' %}"
    />
    <title>Zuhdi's Portofolio</title>
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}{% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
