{% extends "base.html" %}
{% load static %}

{% block navbar %} 
    {% include "navbar.html" %} 
{% endblock %}

{% block content %}

<section class="section row profile" id="home">
  <div class="col desc">
    <h4>Hi, I'm Zuhdi</h4>
    <h5>JUNIOR WEB DEVELOPER</h5>
  </div>
  <div class="col photo">
    <img src="{% static 'portofolio/src/profpict.svg' %}" alt="Zuhdi" />
  </div>
</section>

<section class="row section about" id="about">
  <h4>About Me</h4>
  <div class="col isi black-text">
    <p>
      Hello, my name is Muhammad Zuhdi Zamrud. People usually calls me as Zuhdi.
      I’m 19 years old. Currently, I’m going to University of Indonesia. I’m
      majoring in Computer Science.
    </p>
  </div>
</section>

<div class="garis row"></div>

<section class="section row edex">
  <div class="col m6 edu">
    <h4>Education</h4>
    <div class="logo-desc">
      <img src="{% static 'portofolio/src/logo_ui.svg' %}" alt="UI" />
      <div class="desc">
        <h5>Universitas Indonesia</h5>
        <p>Computer Science</p>
      </div>
    </div>
  </div>
  <div class="col m6 exp">
    <h4>Experience</h4>
    <div class="logo-desc">
      <img src="{% static 'portofolio/src/logo_bem.svg' %}" alt="BEM" />
      <div class="desc">
        <h5>BEM Fasilkom UI</h5>
        <p>Staff of Business and Partnership</p>
      </div>
    </div>
    <div class="logo-desc">
      <img src="{% static 'portofolio/src/logo_grit.svg' %}" alt="GRIT" />
      <div class="desc">
        <h5>PT GRIT</h5>
        <p>Mobile App Development Intern</p>
      </div>
    </div>
  </div>
</section>

<section class="section row skill" id="skill">
  <h4>
    Skills
  </h4>
  <div class="garis"></div>
  <div class="row skill-row odd-skill">
    <div class="col s12 m4 skill-logo">
      <img src="{% static 'portofolio/src/logo_css3.svg' %}" alt="CSS" />
    </div>
    <div class="col s12 m4 skill-logo">
      <img src="{% static 'portofolio/src/logo_java.svg' %}" alt="Java" />
    </div>
    <div class="col s12 m4 skill-logo">
      <img src="{% static 'portofolio/src/logo_python.svg' %}" alt="Python" />
    </div>
  </div>
  <div class="row skill-row even-skill">
    <div class="col s12 m6 skill-logo">
      <img src="{% static 'portofolio/src/logo_html.svg' %}" alt="CSS" />
    </div>
    <div class="col s12 m6 skill-logo">
      <img src="{% static 'portofolio/src/logo_js.svg' %}" alt="Java" />
    </div>
  </div>
</section>

<section class="section row project" id="project">
  <h4>Projects</h4>
  <div class="garis"></div>
  <div class="row">
    <div class="col s12 m4 card-piece">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'portofolio/src/burgerbuilder.png' %}" />
          <span class="card-title">Burger Builder</span>
        </div>
        <div class="card-content">
          <p>
            My self project
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 card-piece">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'portofolio/src/tpamakara.png' %}" />
          <span class="card-title">TPA Makara UI</span>
        </div>
        <div class="card-content">
          <p>
            Project from client
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col s12 m4 card-piece">
          <div class="card">
            <div class="card-image">
              <img src="src/burgerbuilder.png" />
              <span class="card-title">Burger Builder</span>
            </div>
            <div class="card-content">
              <p>
                My self project
              </p>
            </div>
          </div>
        </div> -->
  </div>
</section>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}