<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <!-- <a href="#" class="brand-logo">Z</a> -->
      <ul id="nav-mobile" class="center-align hide-on-small-only">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#skill">Skills</a></li>
        <li><a href="#project">Projects</a></li>
      </ul>
    </div>
  </nav>
</div>
